<div class="login-container">
    <img src="/assets/icons/chat-bubble.svg" alt="chat bubble" class="chat-bubble position-fixed cursor-pointer end-4 bottom-4">
    <div class="d-flex justify-content-center" *ngIf="signupStep === 0">
        <div class="carousel-container overflow-x-hidden col-lg-6 position-relative">
            <img class="position-absolute top-8 start-8" src="/assets/icons/sound_health_logo.png" alt="sound health">
            
            <div class="carousel-images">
                <div class="position-absolute top-1/2 start-1/2 translate-middle circle-bg-1 mx-auto" [ngClass]="'slide'+carouselSlide"></div>
                <div class="position-absolute top-1/2 start-1/2 translate-middle circle-bg-2 mx-auto" [ngClass]="'slide'+carouselSlide"></div>
                <div class="position-absolute top-1/2 start-1/2 translate-middle circle-bg-3 mx-auto" [ngClass]="'slide'+carouselSlide"></div>
                <div class="position-absolute top-1/2 start-1/2 translate-middle img-bg-overlay rounded-4">
                    <img class="w-full h-full" *ngIf="carouselSlide===1" src="/assets/images/carousel-img-1.png" alt="carousel thumbnail">
                    <img class="w-full h-full" *ngIf="carouselSlide===2" src="/assets/images/carousel-img-2.png" alt="carousel thumbnail">
                    <img class="w-full h-full" *ngIf="carouselSlide===3" src="/assets/images/carousel-img-3.png" alt="carousel thumbnail">
                </div>
                <p class="caption position-absolute bottom-2 bottom-xxl-20 start-1/2 text-lg font-bold text-center translate-middle">
                    {{carouselSlide === 1 ? 
                        'Take control of your life through the power of music and movement.' : 
                    carouselSlide === 2 ? 
                        'Stay physically and mentally sharp with our curated list of activities everyday.' 
                    :   'Track relevant statistics and share your progress with your friends and family.'}}
                </p>
                <div class="indicators position-absolute bottom-4 bottom-xxl-16 start-1/2 translate-middle row w-3/5 gap-5">
                    <div (click)="updateCarouselSlide(1)" [class.active]="carouselSlide === 1" class="rounded col h-2"></div>
                    <div (click)="updateCarouselSlide(2)" [class.active]="carouselSlide === 2" class="rounded col h-2"></div>
                    <div (click)="updateCarouselSlide(3)" [class.active]="carouselSlide === 3" class="rounded col h-2"></div>
                </div>
            </div>
        </div>
        <div class="signup-card-container col-10 col-md-9 col-lg-6 min-h-screen d-flex flex-column justify-content-center py-lg-16 px-lg-10 position-relative">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-xl-10 col-xxl-8 mx-auto d-flex flex-column justify-content-center align-items-center">
                    <img class="pb-16 w-48" src="/assets/icons/sound_health_logo.png" alt="sound health">
                    <h1 class="pb-12 display-6 text-nowrap">Welcome to Point Motion.</h1>
                    <div class="login-btn w-full text-center" (click)="nextStep()">
                        <p class="btn btn-primary w-4/5 rounded-2 font-bold py-4">
                            Get Started
                        </p>
                    </div>
                    <div class="signup-container mt-12 text-center">
                        <span class="text-black">Already have an account?&nbsp;</span>
                        <a href="/public/login" class="font-semibold">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="confirm-email-container w-screen h-screen position-relative" *ngIf="signupStep > 0">
        <img class="signup-bg position-absolute w-full" src="/assets/images/signup_bg.jpg" alt="signup background">
        <div class="row position-absolute w-full h-full">
            <div class="col-9 col-lg-7 col-xl-5 col-xxl-4 mx-auto px-xxl-5 d-flex flex-column justify-content-center align-items-center">
                <img class="pb-16 w-48" *ngIf="signupStep < 4" src="/assets/icons/sound_health_logo.png" alt="sound health">
                <p class="text-sm align-self-start" *ngIf="signupStep < 4">Step {{signupStep}} out of 3</p>
                <h2 class="step-heading pb-6 align-self-start">{{
                    signupStep === 1 ? 'Confirm your email address' : 
                    signupStep === 2 ? 'Create a password' : 
                    signupStep === 3 ? 'What should we call you?' :
                    ''
                }}</h2>
                <input *ngIf="signupStep === 1" placeholder="Email" type="email" name="email" [(ngModel)]="email" id="email" class="w-full h-12 rounded mb-10 text-md px-3">
                <div *ngIf="signupStep === 2" class="password-container position-relative w-full">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" name="password" [(ngModel)]="password" minlength="8" class="w-full h-12 rounded mb-10 text-md px-3" id="password" autocomplete="current-password">
                    <div (click)="toggleShowPassword()" class="eye-icon position-absolute end-4 top-2 cursor-pointer">
                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </div>
                </div>
                <div *ngIf="signupStep === 4" class="all-set">
                    <h2 class="mb-12 text-center">You’re all set.</h2>
                    <h2 class="mb-5 text-center">We would like to get to know you more.</h2>
                    <h3 class="mb-10 text-center mx-10">Understanding your interests will help us create a better experience for you.</h3>
                </div>
                <input *ngIf="signupStep === 3" placeholder="Username" type="text" name="username" [(ngModel)]="username" id="username" class="w-full h-12 rounded mb-10 text-md px-3">
                <div class="w-full text-center" (click)="nextStep()">
                    <p [ngClass]="{'w-4/5': signupStep === 4, 'w-full': signupStep < 4 }" class="continue-btn btn btn-primary rounded-2 font-bold py-4">
                        {{signupStep === 3 ? 'Complete your sign up' : 'Continue' }}
                    </p>
                </div>
                <div class="completion-confirmation pt-6" *ngIf="signupStep === 3">
                    <p class="font-bold mt-5 text-center px-2">By completing the sign up, you agree to our Sound Health’s <a href="#">Terms and Conditions of Use.</a></p>
                    <p class="font-bold mt-5 text-center px-2">To learn more about how Sound Health collects, uses, shares and protects your personal data, please read Sound Health’s <a href="#">Privacy Policy.</a></p>
                </div>
                <p class="step-heading text-center text-md mt-12" *ngIf="signupStep === 4" (click)="nextStep()">Skip for now</p>
            </div>
        </div>
    </div>
</div>