<div class="login-container" *ngIf="signupStep < 5">
    <img src="/assets/icons/chat-bubble.svg" alt="chat bubble" class="chat-bubble position-fixed cursor-pointer end-4 bottom-4">
    <div class="d-flex justify-content-center" *ngIf="signupStep === 0">
        <div class="carousel-container overflow-x-hidden col-lg-6 position-relative">
            <img class="position-absolute top-8 start-8" src="/assets/icons/sound_health_logo.png" alt="sound health">
            
            <div class="carousel-images">
                <div class="position-absolute top-1/2 start-1/2 translate-middle circle-bg-1 mx-auto" [ngClass]="'slide'+carouselSlide"></div>
                <div class="position-absolute top-1/2 start-1/2 translate-middle circle-bg-2 mx-auto" [ngClass]="'slide'+carouselSlide"></div>
                <div class="position-absolute top-1/2 start-1/2 translate-middle circle-bg-3 mx-auto" [ngClass]="'slide'+carouselSlide"></div>
                <div class="position-absolute top-1/2 start-1/2 translate-middle img-bg-overlay rounded-4">
                    <img class="w-full h-full" *ngIf="carouselSlide===1" src="/assets/images/carousel-img-1.png" alt="carousel thumbnail">
                    <img class="w-full h-full" *ngIf="carouselSlide===2" src="/assets/images/carousel-img-2.png" alt="carousel thumbnail">
                    <img class="w-full h-full" *ngIf="carouselSlide===3" src="/assets/images/carousel-img-3.png" alt="carousel thumbnail">
                </div>
                <p class="caption position-absolute bottom-2 bottom-xxl-20 start-1/2 text-lg font-bold text-center translate-middle">
                    {{carouselSlide === 1 ? 
                        'Take control of your life through the power of music and movement.' : 
                    carouselSlide === 2 ? 
                        'Stay physically and mentally sharp with our curated list of activities everyday.' 
                    :   'Track relevant statistics and share your progress with your friends and family.'}}
                </p>
                <div class="indicators position-absolute bottom-4 bottom-xxl-16 start-1/2 translate-middle row w-3/5 gap-5">
                    <div (click)="updateCarouselSlide(1)" [class.active]="carouselSlide === 1" class="rounded col h-2"></div>
                    <div (click)="updateCarouselSlide(2)" [class.active]="carouselSlide === 2" class="rounded col h-2"></div>
                    <div (click)="updateCarouselSlide(3)" [class.active]="carouselSlide === 3" class="rounded col h-2"></div>
                </div>
            </div>
        </div>
        <div class="signup-card-container col-10 col-md-9 col-lg-6 min-h-screen d-flex flex-column justify-content-center py-lg-16 px-lg-10 position-relative">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-xl-10 col-xxl-8 mx-auto d-flex flex-column justify-content-center align-items-center">
                    <img class="pb-16 w-48" src="/assets/icons/sound_health_logo.png" alt="sound health">
                    <h1 class="pb-12 display-6 text-nowrap">Welcome to Point Motion.</h1>
                    <div class="login-btn w-full text-center" (click)="nextSignupStep()">
                        <p class="btn btn-primary w-4/5 rounded-2 font-bold py-4">
                            Get Started
                        </p>
                    </div>
                    <div class="signup-container mt-12 text-center">
                        <span class="text-black">Already have an account?&nbsp;</span>
                        <a href="/public/login" class="font-semibold">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="confirm-email-container w-screen h-screen position-relative" *ngIf="signupStep > 0">
        <img class="signup-bg position-absolute w-full" src="/assets/images/signup_bg.jpg" alt="signup background">
        <div class="row position-absolute w-full h-full">
            <div class="col-9 col-lg-7 col-xl-5 col-xxl-4 mx-auto px-xxl-5 d-flex flex-column justify-content-center align-items-center">
                <img class="pb-16 w-48" *ngIf="signupStep < 4" src="/assets/icons/sound_health_logo.png" alt="sound health">
                <p class="text-sm align-self-start" *ngIf="signupStep < 4">Step {{signupStep}} out of 3</p>
                <h2 class="step-heading pb-6 align-self-start">{{
                    signupStep === 1 ? 'Confirm your email address' : 
                    signupStep === 2 ? 'Create a password' : 
                    signupStep === 3 ? 'What should we call you?' :
                    ''
                }}</h2>
                <input *ngIf="signupStep === 1" placeholder="Email" type="email" name="email" [(ngModel)]="email" id="email" class="w-full h-12 rounded mb-10 text-md px-3">
                <div *ngIf="signupStep === 2" class="password-container position-relative w-full">
                    <input 
                        [ngClass]="{'border-danger': checkPasswordStrength(password) === 'Weak', 'border-warning': checkPasswordStrength(password) === 'Fair', 'border-success': checkPasswordStrength(password) === 'Good' || checkPasswordStrength(password) === 'Strong'}" 
                        [type]="showPassword ? 'text' : 'password'" placeholder="Password" name="password" [(ngModel)]="password" minlength="8" class="border form-control shadow-none w-full h-12 rounded mb-10 text-md px-3" id="password" autocomplete="current-password">
                    <div (click)="toggleShowPassword()" class="eye-icon position-absolute end-4 top-2 cursor-pointer">
                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </div>
                </div>
                <!-- Password Strength Progress -->
                <div *ngIf="signupStep === 2 && password" class="d-flex w-full flex-column">
                    <div class="d-flex align-items-center">
                        <div class="progress w-1/2 h-3">
                            <div 
                                class="progress-bar rounded" 
                                [ngClass]="{'bg-danger': checkPasswordStrength(password) === 'Weak', 'bg-warning': checkPasswordStrength(password) === 'Fair', 'bg-success': checkPasswordStrength(password) === 'Good' || checkPasswordStrength(password) === 'Strong'}" 
                                role="progressbar" 
                                [ngStyle]="{'width' : checkPasswordStrength(password) === 'Weak' ? '25%' : checkPasswordStrength(password) === 'Fair' ? '50%' : checkPasswordStrength(password) === 'Good' ? '75%' : '100%'}" 
                                aria-valuemin="0" 
                                aria-valuemax="100"
                            ></div>
                        </div>
                        <p 
                            class="password-strength text-sm ps-2"
                            [ngClass]="{'text-danger': checkPasswordStrength(password) === 'Weak', 'text-warning': checkPasswordStrength(password) === 'Fair', 'text-success': checkPasswordStrength(password) === 'Good' || checkPasswordStrength(password) === 'Strong'}" 
                        >{{ checkPasswordStrength(password) }}</p>
                    </div>
                    <p class="text-sm mb-5">
                        Use a minimum of 6 characters (case sensitive) with atleast 1 number or special character
                    </p>
                </div>
                <div *ngIf="signupStep === 4" class="all-set">
                    <h2 class="mb-12 text-center">You’re all set.</h2>
                    <h2 class="mb-5 text-center">We would like to get to know you more.</h2>
                    <h3 class="mb-10 text-center mx-10">Understanding your interests will help us create a better experience for you.</h3>
                </div>
                <input *ngIf="signupStep === 3" placeholder="Username" type="text" name="username" [(ngModel)]="username" id="username" class="w-full h-12 rounded mb-10 text-md px-3">
                <button [ngClass]="{'shadow-none': signupStep !== 2 }" class="btn w-full text-center bg-transparent p-0" (click)="nextSignupStep()" [disabled]="signupStep === 2 && checkPasswordStrength(password) === 'Weak'">
                    <p [ngClass]="{'w-4/5': signupStep === 4, 'w-full': signupStep < 4 }" class="continue-btn rounded-2 font-bold btn btn-primary">
                        {{signupStep === 3 ? 'Complete your sign up' : 'Continue' }}
                    </p>
                </button>
                <div class="completion-confirmation pt-6" *ngIf="signupStep === 3">
                    <p class="font-bold mt-5 text-center px-2">By completing the sign up, you agree to our Sound Health’s <a href="#">Terms and Conditions of Use.</a></p>
                    <p class="font-bold mt-5 text-center px-2">To learn more about how Sound Health collects, uses, shares and protects your personal data, please read Sound Health’s <a href="#">Privacy Policy.</a></p>
                </div>
                <p class="step-heading text-center text-md mt-12 cursor-pointer" *ngIf="signupStep === 4" (click)="goToHome()">Skip for now</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="signupStep === 5" class="interest-container">
    <img class="position-absolute top-8 start-8" src="/assets/icons/sound_health_light.svg" alt="sound health">
    <div class="confirm-email-container w-screen h-full min-h-screen position-relative">
        <img class="signup-bg position-absolute w-full" src="/assets/images/interest_bg.png" alt="signup background">
        <div
            class="container d-flex flex-column justify-content-center align-items-center text-white text-center position-relative"
        >
            <h3 class="col-12 text-center text-white pt-20">Step {{interestStep}} of 3</h3>
            <h1 class="col-12 text-center text-white pt-5 pb-4">{{
                interestStep === 1 ? 'Select 3 or more styles of music you like.' : 
                interestStep === 2 ? 'Select 3 or more activities you enjoy the most.' : 
                'When would you like to be reminded?'
            }}</h1>
            <p *ngIf="interestStep===3">Reminders help develop a stronger routine and achieve consistency.</p>
            <div *ngIf="interestStep === 1" class="pt-12 row col-12 col-xl-8 gx-md-12 gy-md-16">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 cursor-pointer" *ngFor="let interest of interests; let i=index">
                    <div (click)="selectInterest(i)" [class.selected]="interest.selected" class="position-relative rounded-2">
                        <img class="active position-absolute top-1/2 start-1/2 translate-middle" src="/assets/icons/active.svg" alt="active">
                        <img class="w-full h-full rounded-3" [src]="interest.img" alt="classical music">
                    </div>
                    <p class="text-lg font-bold pt-2">{{interest.title}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 cursor-pointer">
                    <div class="position-relative">
                        <img class="w-full h-full" src="/assets/images/more_for_you.png" alt="more for you">
                    </div>
                    <p class="text-lg font-bold pt-2">Explore All</p>
                </div>
            </div>
            <div *ngIf="interestStep === 2" class="pt-12 row col-12 col-xl-8 gx-md-12 gy-md-16">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 cursor-pointer" *ngFor="let activity of activities; let i=index">
                    <div (click)="selectActivity(i)" [class.selected]="activity.selected" class="position-relative rounded-2">
                        <img class="active position-absolute top-1/2 start-1/2 translate-middle" src="/assets/icons/active.svg" alt="active">
                        <img class="w-full h-full rounded-3" [src]="activity.img" alt="classical music">
                    </div>
                    <p class="text-lg font-bold pt-2">{{activity.title}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 cursor-pointer">
                    <div class="position-relative">
                        <img class="w-full h-full" src="/assets/images/more_for_you.png" alt="more for you">
                    </div>
                    <p class="text-lg font-bold pt-2">Explore All</p>
                </div>
            </div>
            <div *ngIf="interestStep === 3" class="w-full d-flex mt-12 align-items-center">
                <div class="reminder-times row w-full w-lg-2/5 gy-10 mx-auto position-relative">
                    <input *ngIf="customTime" (keyup.enter)="toggleCustomTime()" [(ngModel)]="selectedTime" type="time" class="position-absolute bottom-0 start-0 w-full h-12 cursor-pointer rounded-2">
                    <button *ngFor="let time of reminderTimes; let i=index" (click)="selectTime(i)" class="col-12 btn font-bold shadow-none" [ngClass]="{'bg-light' : (i !== 4 && selectedTime !== time) || (i === 4 && !getCustomTime()), 'bg-success text-white' : selectedTime === time || (i === 4 && getCustomTime()) }">{{ i < 4 ? time : i === 4 && getCustomTime() ? getCustomTime() : 'Specify a time' }}</button>
                </div>
            </div>
            <button *ngIf="showNext()" (click)="nextInterestStep()" class="btn btn-light m-auto w-full w-lg-2/5 font-bold mt-10 mb-5">{{interestStep < 3 ? 'Next' : 'Finish'}}</button>
        </div>
    </div>
</div>