.bg-image {
    background-image: url(/assets/images/login-bg-image.jpg);
    background-size: cover;
}
.sound-health {
    color: #000066;
}
@media screen and (min-width: 1900px) {
    .login-card-container {
        font-size: 1.2rem;
    }
}