// new
.login-container {
    font-size: 10px;
    font-family: Inter;
    .chat-bubble {
        z-index: 1;
    }
    .carousel-container {
        background-color: #F7FAFC;
        .circle-bg-1, .circle-bg-2 {
            width: 75em;
            height: 75em;
            border-radius: 100%;
            transition: 0.2s;
        }
        .circle-bg-2 {
            width: 62em;
            height: 62em;
        }
        .circle-bg-3 {
            width: 42em;
            height: 42em;
            border-radius: 100%;
        }
        .circle-bg-1 {
            &.slide1 {
                background-color: #E2E8F0;
                opacity: 0.33;
            }
            &.slide2 {
                background-color: #A3B7F0;
                opacity: 0.1;
            }
            &.slide3 {
                background-color: #B6E5C8;
                opacity: 0.1;
            }
        }
        .circle-bg-2 {
            &.slide1 {
                background-color: #EDF2F7;
                opacity: 0.66;
            }
            &.slide2 {
                background-color: #A3B7F0;
                opacity: 0.3;
            }
            &.slide3 {
                background-color: #B6E5C8;
                opacity: 0.3;
            }
        }
        .circle-bg-3 {
            &.slide1 {
                background-color: #FFFFFF;
                opacity: 0.8;
            }
            &.slide2 {
                background-color: #A3B7F0;
                opacity: 0.5;
            }
            &.slide3 {
                background-color: #B6E5C8;
                opacity: 0.5;
            }
        }
        .img-bg-overlay {
            width: 50em;
            height: 35em;
            > img {
                opacity: 1;
                animation: fade 0.3s ease-in;
            }
            @keyframes fade {
              0% { opacity: 0 }
            }
            
        }
        .indicators {
            > div {
                cursor: pointer;
                background-color: #CBD5E0;
                &.active {
                    background-color: #2F51AE;
                }
            }
        }
    }
    .login-card-container {
        .bg-danger {
            background-color: rgb(235, 0, 0) !important;
        }
        label {
            color: #425466;
        }
        .card-bg {
            background-color: #F7FAFC;
        }
        .form-check-input {
            font-size: 1.6em;
        }
        .password-container {
            > p {
                color: #718096;
            }
        }
        .eye-icon {
            font-size: 1.6em;
            color: #494949;
        }
        .remember-container {
            > a {
                color: #425466;
                font-size: 1.2em;
            }
        }
        .login-btn {
            > p {
                background-color: #000066;
                border: none;
            }
        }
        .signup-container {
            font-size: 1.6em;
            a {
                color: #2f51ae;
            }
        }
    }
}