<div class="login-container px-md-5 py-md-5 p-lg-0 bg-surface-secondary overflow-x-hidden">
    <div class="d-flex justify-content-center">
        <div class="bg-image col-12 position-fixed start-0 top-0 h-screen overflow-y-hidden bg-primary d-none d-lg-flex flex-column">
            <!-- <img src="/assets/images/login-bg-image.jpg" class="h-full w-full" alt="senior citizens"> -->
        </div>
        <div class="login-card-container col-md-8 col-xl-12 col-xxl-9 offset-xl-10 offset-lg-6 border-left-lg min-h-screen d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-xl-6 mx-auto ms-xl-0 bg-white px-7 py-4 rounded-3">
                    <div class="mt-10 mt-lg-5 mb-6 d-flex align-items-center d-lg-block text-nowrap">
                        <h1 class="ls-tight font-bolder h2 me-1">
                            Welcome to
                        </h1>
                        <h1 class="sound-health ls-tight font-bolder h1">
                            Sound Health
                        </h1>
                    </div>
                    <form>
                        <div class="mb-5">
                            <label class="form-label" for="email">Email address</label>
                            <input type="email" class="form-control form-control-muted" id="email">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control form-control-muted" id="password" autocomplete="current-password">
                        </div>
                        <div class="mb-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check_example" id="check_example">
                                <label class="form-check-label" for="check_example">
                                    Keep me logged in
                                </label>
                            </div>
                        </div>
                        <div>
                            <a href="/home" class="btn btn-primary w-full">
                                Sign in
                            </a>
                        </div>
                    </form>
                    <div class="py-5 text-center">
                        <span class="text-xs text-uppercase font-semibold">or</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-md-0 mb-3">
                            <a href="#" class="btn btn-neutral w-full">
                                <span class="icon icon-sm pe-2">
                                    <img src="/assets/icons/facebook-logo.svg" alt="Facebook logo">
                                </span>
                                Facebook
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-neutral w-full">
                                <span class="icon icon-sm pe-2">
                                    <img src="/assets/icons/google-logo.svg" alt="google logo">
                                </span>
                                Google
                            </a>
                        </div>
                    </div>
                    <div class="my-6">
                        <small>Don't have an account?</small>
                        <a href="#" class="text-primary ps-1 font-semibold">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>