.login-container {
    font-family: Inter, 'Times New Roman', Times, serif;
}
.sound-health {
    color: #000066;
}
@media screen and (min-width: 1900px) {
    .login-card-container {
        font-size: 1.2rem;
    }
}