<div class="d-flex flex-column h-screen w-screen overflow-x-hidden">
    <nav-bar></nav-bar>
    <div class="home-container d-flex align-items-center flex-fill">
        <div class="container-fluid px-xl-10">
            <div class="row row-grid align-items-center text-white">
                <div class="col-lg-6">
                    <!-- Title -->
                    <h1 class="ls-tight font-bolder display-3 mb-5 text-white">
                        Sit,Stand,Achieve
                    </h1>
                    <!-- Text -->
                    <p class="lead mb-3">
                        <img src="/assets/icons/joystick.svg" alt="joystick" class="me-8 text-center">Sound Health Exclusive
                    </p>
                    <p class="lead mb-3">
                        <i class="fa fa-clock-o me-8 text-center"></i>30 Total Active Minutes
                    </p>
                    <p class="lead mb-3">
                        <i class="fa fa-calendar-o me-8 text-center"></i>14th February, 2022
                    </p>
                    <!-- Buttons -->
                    <div class="mt-12 mx-n2">
                        <a href="#" class="btn btn-lg btn-primary font-bolder mx-2 px-lg-32 px-xl-56 text-nowrap rounded-2">
                            <i class="fa fa-play me-5 text-center"></i>Start Session
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>