<div style="background-color: #FAFAFA;" class="h-screen">
    <div class="row">&nbsp;</div>
    <div class="container">
        <div class="card bg-white p-8 shadow-3">
            <h5 class="text-dark pb-5">Billing History</h5>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Plan Details</th>
                      <th scope="col">Service Period</th>
                      <th scope="col">Payment Method</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="Job Title">
                        <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                        <a class="text-heading font-semibold" href="#">
                          Robert Fox
                        </a>
                      </td>
                      <td data-label="Email">
                        <span>Web Designer</span>
                      </td>
                      <td data-label="Phone">
                        <a class="text-current" href="mailto:robert.fox@example.com">robert.fox@example.com</a>
                      </td>
                      <td data-label="Lead Score">
                        <a class="text-current" href="tel:202-555-0152">202-555-0152</a>
                      </td>
                      <td data-label="Company">
                        <span class="badge bg-opacity-30 bg-success text-success">7/10</span>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>