@import '../../../../variables';
.chat-bubble {
    z-index: 1056;
}
.modal.feedback-modal, .modal.feedback-recieved-modal {
    transform: translate(-100%, -100%);
    width: unset;
    height: unset;
    &.active {
        display: block;
    }
    .modal-content {
        width: 450px;
        background-color: $primary;
    }
    .ratings i{
        color:$border-light;
        font-size: 2rem;
        &.rating-color{
            color:#FFC440;
        }
    }
    .rating-description {
        border-bottom: 1px solid $border-light;
    }
    textarea {
        background-color: #EDF2F7;
    }
    .send-feedback-btn {
        color: $primary;
    }
}
.modal.feedback-recieved-modal {
    .ratings p {
        background-color:#fff;
        &.rating-color{
            background-color:#A0AEC0;
        }
    }
    .rating-description {
        border-bottom: 0px;
    }
    .checkmark {
        background-color: $success;
    }
}