<div class="signup-container w-screen h-screen">
    <!-- Nav bar -->
    <nav class="bg-white h-14 shadow-2 d-flex justify-content-between align-items-center px-5">
        <p class="text-black text-lg cursor-pointer" (click)="goBack()" ngClass="{{ (stepperIndex === 0) && 'invisible' }}">
            <i class="fa-solid fa-arrow-left text-xl"></i>&nbsp;&nbsp;Go Back
        </p>
        <img class="h-10" src="assets/icons/sound_health_logo_alpha.png" alt="alpha logo">
    </nav>

    <main class="w-full d-flex flex-column justify-content-center align-items-center overflow-auto py-10">
        <!-- First step -->
        <ng-container *ngIf="steps[stepperIndex] === 'setup'">
            <div class="rounded px-5 py-14 shadow-1 bg-card">
                <div class="w-full d-flex justify-content-center py-5">
                    <img src="assets/icons/signup/notepad.png" alt="notepad">
                </div>
                <h3 class="text-primary text-center">Finish setting up your account</h3>
                <!-- initial stepper progress -->
                <mat-stepper #stepperView labelPosition="bottom" class="label-position-top mt-5 bg-transparent" [selectedIndex]="incompleteStep - 1" ngClass="{{ 'last-edited-step-' + (incompleteStep - 1) }}">
                    <ng-template matStepperIcon="edit">
                        <i class="fa fa-dot-circle-o"></i></ng-template>
                    <ng-template matStepperIcon="active">
                        <i class="fa "></i></ng-template>
                    <ng-template matStepperIcon="done">
                        <i class="fa fa-dot-circle-o"></i></ng-template>
                    <ng-template matStepperIcon="number">
                        <i class="fa-regular fa-circle"></i></ng-template>
                    <mat-step *ngFor="let step of stepperSteps; let i=index" [label]="'SETUP ' + (step | uppercase)" [completed]="incompleteStep > steps.indexOf(step)"></mat-step>
                </mat-stepper>
                <div class="footer px-5">
                    <button class="w-full btn btn-primary" (click)="nextIncompleteStep()">Setup Account</button>
                </div>
            </div>
        </ng-container>
        <!-- Top stepper -->
        <mat-stepper *ngIf="['profile', 'email', 'payment'].includes(steps[stepperIndex])" [selectedIndex]="stepperIndex - 1" #stepper labelPosition="bottom" class="label-position-top mt-48 bg-transparent h-24" ngClass="{{ 'last-edited-step-' + (stepperIndex - 1) }}">
            <ng-template matStepperIcon="edit">
                <i class="fa fa-dot-circle-o"></i></ng-template>
            <ng-template matStepperIcon="active">
                <i class="fa "></i></ng-template>
            <ng-template matStepperIcon="done">
                <i class="fa fa-dot-circle-o"></i></ng-template>
            <ng-template matStepperIcon="number">
                <i class="fa-regular fa-circle"></i></ng-template>
            <mat-step *ngFor="let step of stepperSteps; let i=index" [label]="'Setup ' + (step | titlecase)" [completed]="stepperIndex > steps.indexOf(step)"></mat-step>
        </mat-stepper>
        <!-- Stepper steps -->
        <ng-container *ngIf="['profile', 'email', 'payment'].includes(steps[stepperIndex])">
            <mat-stepper #stepperSteps class="stepper-steps rounded w-2/5 shadow-1 bg-card position-relative" [selectedIndex]="stepperIndex - 1">
                <!-- Setup profile -->
                <mat-step>
                    <p *ngIf="error" class="bg-danger h-6 position-absolute top-0 w-full start-0 text-center text-white rounded-top">{{error}}</p>
                    <div class="rounded px-5 py-8">
                        <div class="w-full d-flex justify-content-center py-5">
                            <img src="assets/icons/signup/contact.png" alt="contact">
                        </div>
                        <p class="text-black text-center">STEP {{stepperIndex}} OF {{3}}</p>
                        <h2 class="text-primary text-center font-bold">Setup your profile</h2>
                        <form [formGroup]="profileForm" (ngSubmit)="submitForm('profile')">
                            <label class="text-primary" for="prefix">Prefix</label>
                            <select id="prefix" class="form-select mb-3" formControlName="salutation">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Dr">Dr</option>
                                <option value="Prof">Prof</option>
                            </select>
                            <label class="text-primary" for="firstname">First Name</label>
                            <input id="firstname" type="text" class="form-control mb-3" formControlName="firstName">
                            <label class="text-primary" for="lastname">Last Name</label>
                            <input id="lastname" type="text" class="form-control mb-8" formControlName="lastName">
                            <button type="submit" class="w-full btn btn-primary" [disabled]="!profileForm.valid">Next</button>
                        </form>
                    </div>
                </mat-step>
                <!-- Setup email -->
                <mat-step>
                    <p *ngIf="error" class="bg-danger h-6 position-absolute top-0 w-full start-0 text-center text-white rounded-top">{{error}}</p>
                    <div class="rounded px-5 py-8">
                        <div class="w-full d-flex justify-content-center py-5">
                            <img src="assets/icons/signup/mail.png" alt="email">
                        </div>
                        <p class="text-black text-center">STEP {{stepperIndex}} OF {{3}}</p>
                        <h2 class="text-primary text-center">Setup your email address</h2>
                        <form [formGroup]="emailForm" (ngSubmit)="submitForm('email')">
                            <label class="text-primary" for="email">Email ID</label>
                            <input formControlName="email" id="email" type="email" class="form-control mb-8" placeholder="Enter your email address here">
                            <button type="submit" class="w-full btn btn-primary" [disabled]="!emailForm.valid">Next</button>
                            <!-- <button class="w-full btn btn-link text-primary" (click)="nextStep()">Skip for now</button> -->
                        </form>
                    </div>
                </mat-step>
                <!-- Setup payment -->
                <mat-step>
                    <div class="rounded px-5 py-8">
                        <div class="w-full d-flex justify-content-center py-5">
                            <img src="assets/icons/signup/card.png" alt="card">
                        </div>
                        <p class="text-black text-center">STEP {{stepperIndex}} OF {{3}}</p>
                        <h2 class="text-primary text-center pt-3">Setup payment method</h2>
                        <div class="d-flex py-3">
                            <ul class="mx-auto ps-0 text-black text-lg">
                                <li class="py-2"><i class="fa fa-check text-primary pe-5"></i>Free to use for the first {{trialPeriod}} days.</li>
                                <li class="py-2"><i class="fa fa-check text-primary pe-5"></i>${{subscriptionFee}} per month after free trial ends.</li>
                                <li class="py-2"><i class="fa fa-check text-primary pe-5"></i>No commitments, cancel anytime.</li>
                            </ul>
                        </div>
                        <button class="w-full btn btn-primary" (click)="addPaymentMethod()">Add Payment Method</button>
                    </div>
                </mat-step>
            </mat-stepper>
            <p *ngIf="steps[stepperIndex] === 'payment'" class="pt-3 text-sm">By starting your membership, you agree to our <a href="https://www.pointmotion.us/index.php/end-user-license-agreement/">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
        </ng-container>
        <!-- Finish -->
        <ng-container *ngIf="steps[stepperIndex] === 'finish'">
            <div class="w-2/5 text-center">
                <img src="assets/icons/signup/notepad.png" alt="notepad">
                <h2 class="text-primary py-5">You're all set.</h2>
                <p class="text-primary pb-5">Get ready to embark on a journey of healthy aging<br/>through the power of music and movement.</p>
                <button class="btn btn-primary mt-5 w-2/3" routerLink="/app/home">Let's Begin!</button>
            </div>
        </ng-container>
    </main>
</div>