<!-- Display a payment form -->
<div class="h-screen w-screen overflow-auto">
  <div class="container pb-5">
    <div class="row">&nbsp;</div>
    <div class="row py-5">
      <h4 class="text-dark pb-5 col-10 offset-1 col-md-6 offset-md-3">Add Payment Method</h4>
      <form class="col-10 offset-1 col-md-6 offset-md-3" id="payment-form">
        <div id="payment-element">
          <!--Stripe.js injects the Payment Element-->
        </div>
        <button class="btn btn-primary w-full my-5" (click)="submit()" id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Submit</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </div>
  
    <div class="row">
      <div class="col-10 offset-1 col-md-6 offset-md-3">
        <p class="hr"><span class="hr-text">or</span></p>
      </div>
    </div>
  
    <div class="row py-5">
      <div class="col-10 offset-1 col-md-6 offset-md-3 row">
        <div class="col-lg-10 p-0 m-0">
          <input id="promotional-code" [(ngModel)]="promoCode" type="text" class="form-control form-control-muted w-full"
            placeholder="Enter Promotional Code">
        </div>
        <div class="col-lg-2 p-0 m-0">
          <button class="btn btn-primary w-full" (click)="subscribeWithPromoCodeAndRedirect()">Apply</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
