<!-- Display a payment form -->
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <h4 class="text-dark pb-5 col-6 offset-3">Add Payment Method</h4>
    <form class="col-6 offset-3" id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button class="btn btn-primary w-full my-5" (click)="submit()" id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Submit</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </div>
</div>
