.sh-screen {
  z-index: 200;
}
.sound-health-logo {
  width: 240.14px;
  height: 167px;
}
.sound-health {
  width: 377.8px;
  height: 167px;
  padding-left: 20px;
}

.homePage-btn {
  width: 600px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 24px;
}
