@import "../../../variables";

.main {
  height: 100vh;
  background-color: #ffffff;
}
.login-form {
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  min-width: 512px;
  background-color: #edf2f7;
  .spinner {
    color: var(--primary);
    background-color: #ffff;
    text-align: center;
    height: 60px;
  }
  .formErrorMsg {
    background-color: #ff3e00;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 4px 0px;
  }
}

.pmc-logo {
  vertical-align: middle;
  text-align: center;

  img {
    width: auto;
    height: 38px;
  }
}

.input-form {
  vertical-align: middle;

  .guide-text {
    font-size: 12px;
  }

  a {
    font-size: 14px;
  }
}

.terms {
  font-size: 12px;
  text-align: center;
  a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.submit-btn {
  width: 100%;
  background-color: var(--primary);
  color: #ffffff;
  padding: 16px 24px;
  margin: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.continue-btn {
  width: 100%;
  background-color: var(--primary);
  color: #ffffff;
  padding: 12px 24px;
  margin: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.easy-singin {
  vertical-align: middle;
  background-color: #fafafa;
  border-radius: 6px;
}
.clickable {
  cursor: pointer;
}
.custom-radio-labels {
  font-size: 14px;
}
.custom-continue-button {
  font-size: 12px;
  line-height: 14px;
}

.custom-icon {
  font-size: 24px;
  text-align: right;
}

.go-back-btn {
  vertical-align: middle;
  font-size: 16px;
}
