.signup-container {
  background-image: url(../../../../assets/images/backgrounds/signup-background.png);
}
main {
  height: calc(100vh - 3.5rem);
}
.bg-card {
    background-color: #fafafa !important;
}