@import '../../variables';

.mood-container {
    z-index: 101;
    .cards-container, .genre-cards-container {
        transform: translate(-50%, -50%);
        box-shadow: 1px 2px 8px rgba(0, 0, 102, 0.5), 2px 4px 8px rgba(0, 0, 102, 0.5);
        .mood-card {
            border-color: $primary;
            transition: 0.3s transform;
            &:nth-child(1) {
                transform: translate(-275%, -50%);
            }
            &:nth-child(2) {
                transform: translate(-163%, -50%);
            }
            &:nth-child(3) {
                transform: translate(-50%, -50%);
            }
            &:nth-child(4) {
                transform: translate(62%, -50%);
            }
            &:nth-child(5) {
                transform: translate(175%, -50%);
            }
            &.active {
                z-index: 1;
            }
            &.stack {
                transform: translate(-50%, -50%);
            }
        }
    }
}