<div class="mood-container position-fixed bg-white w-screen h-screen top-0 start-0">
  <div class="w-1/2 h-screen position-absolute top-0 end-0">
    <ng-lottie [options]="options">
    </ng-lottie>
  </div>
  <div *ngIf="!showGenreCard" [@slideInOut]="{value:moodSlideOut ? 'slideOut' : '', params:{duration : 500}}"
    class="cards-container text-center position-fixed top-1/2 start-1/2 bg-white p-16 rounded-6">
    <h1 class="display-6 text-primary">How are you feeling today?</h1>
    <div class="mood-cards d-flex justify-content-between mt-10 position-relative h-24">
      <div (click)="selectMood(mood.title)" *ngFor="let mood of moodList"
        class="mood-card top-1/2 start-1/2 bg-white cursor-pointer h-24 w-24 p-3 border rounded-2 position-absolute"
        [class.active]="mood.title === selectedMood" [class.stack]="selectedMood !== undefined">
        <img class="w-10 mb-2" [src]="mood.img" [alt]="mood.title">
        <p class="h6 text-primary">{{mood.title}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="showGenreCard" [@slideInOut]="{value:!showGenreCard ? 'slideIn' : !genreSlideOut ? 'open' : 'slideOut'}"
    class="genre-cards-container text-center position-fixed top-1/2 start-1/2 bg-white p-16 rounded-6">
    <h1 class="display-6 text-primary">Select genre of music</h1>
    <div class="mood-cards d-flex justify-content-between my-5 position-relative h-32">
      <div (mouseenter)="debouncedPlayMusic(genre.title)" (mouseleave)="stopMusic(genre.title)"
        *ngFor="let genre of genreList" (click)="selectGenre(genre.title)"
        class="mood-card top-1/2 start-1/2 bg-white cursor-pointer h-32 w-32 p-3 m-2 border rounded-2 position-absolute"
        [class.active]="genre.title === selectedGenre" [class.stack]="selectedGenre !== undefined">
        <img class="w-20" [src]="genre.img" [alt]="genre.title">
        <p class="h6 text-primary text-nowrap mt-1">{{genre.title | uppercase}}</p>
      </div>
      <div *ngFor="let genre of genreList" class="h-32 w-32 p-3 m-2"></div>
    </div>

    <div *ngIf="enableAfroGenre" class="mt-8">
      <h3 class="text-primary cursor-pointer" (click)="selectGenre('afro')"><span class="hover-underline">
          Try Afro Genre</span></h3>
    </div>
  </div>
</div>
