<div class="home-container container-fluid h-screen w-screen overflow-hidden position-relative" [style.background]="'no-repeat bottom center/cover url(/assets/images/backgrounds/home/overlay.png),linear-gradient(rgba(0, 0, 102, .2), rgba(0, 0, 102, .2)), no-repeat top center/cover url(/assets/images/backgrounds/home/' + getBackgroundName(nextSession.name) + '.png), var(--primary)'">
  <genre-selection></genre-selection>
  <div *ngIf="nextSession.name" class="position-relative d-flex">
    <div class="mt-auto w-full mb-14 px-5">
      <h1 [@fadeText]="nextSession.name" class="display-2 text-white">{{nextSession.name}}</h1>
      <div class="mt-5">
        <button (click)="startNewSession()" class="start-btn btn btn-primary px-20 py-2 border-2 border-white rounded-3 position-relative"><h1 class="display-6 text-white">Start</h1></button>
      </div>
    </div>
  </div>
  <div class="carousel-buttons w-full px-10 position-absolute start-0 translate-middle-y d-flex justify-content-between align-items-center h-0">
    <div class="prev-btn rounded-pill text-center bg-white h-14 w-14 text-black d-flex align-items-center justify-content-center cursor-pointer" [ngClass]="{ 'invisible pe-none': nextSessionIdx <= 0 }">
      <i (click)="prevGame()" class="bi bi-arrow-left d-inline-block display-6"></i>
    </div>
    <div class="next-btn rounded-pill text-center bg-white h-14 w-14 text-black d-flex align-items-center justify-content-center cursor-pointer" [ngClass]="{ 'invisible pe-none': nextSessionIdx >= sessions.length - 1 }">
      <i (click)="nextGame()" class="bi bi-arrow-right d-inline-block display-6"></i>
    </div>
  </div>
</div>

<div class="modal reward-modal" id="modal_example" tabindex="-1" aria-labelledby="modal_example" aria-hidden="true" [style.display]="'block'" *ngIf="currentReward !== null">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content reward-card shadow-3 bg-primary">
      <div class="modal-header border-bottom-0 py-0">
        <div class="cursor-pointer text-xl ms-auto mt-2">
          <i (click)="closeRewardCard()" class="fa fa-close text-white"></i>
        </div>
      </div>
      <div class=" modal-body text-center p-1">
        <h2 class="text-white font-bolder">You have unlocked a<br/>reward!</h2>
        <img *ngIf="currentReward!.tier === 'bronze'" src="assets/images/rewards/bronze-tier.png" alt="Bronze Reward"
          class="h-12 my-10">
        <img *ngIf="currentReward!.tier === 'silver'" src="assets/images/rewards/silver-tier.png" alt="Silver Reward"
          class="h-12 my-10">
        <img *ngIf="currentReward!.tier === 'gold'" src="assets/images/rewards/gold-tier.png" alt="Gold Reward"
          class="h-12 my-10">
          <h3 class="card-title reward-card-text text-white">{{currentReward!.description}}</h3>
      </div>
      <div class="w-full d-flex flex-column text-lg">
        <a routerLink="/app/rewards" (click)="closeRewardCard()" class="w-3/4 mx-auto text-primary font-bold rounded bg-white text-center position-relative">Access Now
          <span class="position-absolute end-3"><i class="fa fa-arrow-right"></i></span>
        </a>
        <p class="my-5 text-white w-3/4 mx-auto text-center">All Rewards can be accessed under the <span class="font-bold">Rewards</span> tab</p>
      </div>
    </div>
  </div>
</div>
