.home-container {
    background-size: cover;
    .session-btn {
        &.start {
            color: #000066;
            font-size: 1.6rem;
            border: none;
        }
        &.completed {
            background-color: #00BD3E;
            color: #FFFFFF;
            font-size: 1.6rem;
            border: none;
        }
        &.locked {
            color: #4A5568;
            font-size: 1.6rem;
            border: none;
        }
    }
    .lead {
        font-size:2rem;
        font-weight: 600;
        .fa {
            font-size: 1.8rem;
        }
    }
    @media screen and (max-width: 1400px) {
        .display-3 {
            font-size: 3rem;
        }
        .lead {
            font-size: 1.3rem;
        }
    }
    @media screen and (max-width: 900px) {
        .display-3 {
            font-size: 2.5rem;
        }
        .lead {
            font-size: 1.3rem;
        }
    }
}