@import '../../../variables';

.home-container {
    > div {
        height: calc(100vh - 60px);
        z-index: 1;
    }
    &::before { 
        content:"";
        position:absolute; 
        inset: 0;
        background:inherit;
        animation: grow 8s linear forwards;
    }

    .carousel-buttons {
        top: 40%;
        .prev-btn, .next-btn {
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: $info_color !important;
                color: #fff !important;
            }
            &:active {
                background-color: #516FC2 !important;
            }
        }
    }

    button.start-btn {
        &::after {
            content: "";
            background-image: url('/assets/icons/right-arrow.png');
            background-size: 100% 100%;
            display: inline-block;
            position: absolute;
            transform: translateY(-50%);
            right: 15%;
            top: 50%;
            width: 30px;
            height: 30px;
            animation: slide 1s infinite ease-in-out alternate;
        }
    }
}

.reward-modal {
    .active {
        display: block;
    }
}

.reward-card {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes slide {
    from {
        right: 15%;
    }
    to {
        right: 5%;
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}