<div class="container-fluid goals-container p-6">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8 border-end-2">
            <div class="row">
                <div class="col-12 col-lg-7 px-5 mb-3">
                    <div class="name-container  d-flex flex-column justify-content-center">
                        <p class="h2">Hi{{' ' + username}},</p>
                        <p class="display-4 font-bolder">Be the best<br /> version of yourself.</p>
                    </div>
                </div>

                <!-- <div class="col-12 col-lg-5 ps-6 pe-6 d-flex flex-column justify-content-end">
                    <div class="row">
                        <button (click)="toggleShareModal()" class="btn d-none d-lg-block col-12 btn-primary py-2 px-1 font-bold rounded-2 mb-3 border-none">Share&nbsp;<img src="/assets/icons/share.svg" alt="share"></button>
                        <button (click)="togglePastSessions()" class="view-past-btn col-12 btn py-2 px-1 btn-light rounded-2 font-bold mb-4 text-nowrap">View past sessions&nbsp;<img src="/assets/icons/arrow-right.svg" alt="arrow right"></button>
                    </div>
                </div> -->
                <div class="col-12 monthly-goals">
                    <div class="mt-xxl-4 d-none d-xxl-block">&nbsp;</div>
                    <div class="monthly-goals-progress position-relative w-full  rounded-6 px-10 py-4">
                        <h1 class="text-white display-6">Monthly Goals</h1>

                        <div class="w-full position-relative mt-1">
                            <div class="current position-absolute d-flex flex-column justify-content-end align-items-center text-center" [style.left]="'calc( '+monthlyCompletionPercent + '% - 4px)'">
                                <p class="font-bold text-nowrap">You are here</p>
                                <i class="fa fa-caret-down text-lg"></i>
                            </div>
                            <div class="goal position-absolute d-flex flex-column justify-content-end align-items-center text-center text-white" [style.left]="'calc( '+monthlyGoalPercent + '% - 4px)'">
                                <p class="font-bold text-nowrap">Next Goal</p>
                                <i class="fa fa-caret-down text-lg"></i>
                            </div>
                            <div class="progress h-5 w-full bg-transparent top-12 position-relative"></div>
                            <div class="position-absolute top-16 text-white d-flex justify-content-between align-items-center w-full pt-2 font-bold text-lg">
                                <p *ngFor="let val of monthRange" class="position-relative">{{val}}</p>
                                <div class="subdivisions position-absolute w-full d-flex justify-content-between align-items-start pe-14 ps-8">
                                    <img *ngFor="let val of monthRange; let i=index" [style.display]="i===0 && 'none'" src="/assets/icons/scale-subdivision.svg" alt="scale">
                                </div>
                            </div>
                        </div>
                        <p class="text-center text-white font-bold text-sm position-absolute start-1/2 bottom-2 translate-middle">Day</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="mt-xxl-4">&nbsp;</div>
                    <div class="daily-goals-progress position-relative w-full  rounded-6 px-10 py-4">
                        <h1 class="text-black display-6">Daily Goals</h1>
                        <div class="w-full position-relative mt-1">
                            <div class="current position-absolute d-flex flex-column justify-content-end align-items-center text-center" [style.left]="'calc( '+ dailyCompletionPercent + '% - 4px)'">
                                <p class="font-bold text-nowrap">You are here</p>
                                <i class="fa fa-caret-down text-lg"></i>
                            </div>
                            <div class="goal position-absolute d-flex flex-column justify-content-end align-items-center text-center text-black" [style.left]="'calc( '+ dailyGoalPercent + '% - 4px)'">
                                <p class="font-bold text-nowrap">Daily Goal</p>
                                <i class="fa fa-caret-down text-lg"></i>
                            </div>
                            <div class="daily-progress h-5 w-full bg-transparent top-10 position-relative"></div>
                            <div class="position-absolute top-16 text-black d-flex justify-content-between align-items-center w-full pt-2 font-bold text-lg">
                                <p *ngFor="let val of dailyRange">{{val}}</p>
                                <div class="subdivisions position-absolute w-full d-flex justify-content-between align-items-start pe-14 ps-8">
                                    <img *ngFor="let val of dailyRange; let i=index" [style.display]="i===0 && 'none'" src="/assets/icons/scale-subdivision-dark.svg" alt="scale">
                                </div>
                            </div>
                        </div>
                        <p class="text-center text-black font-bold text-sm position-absolute start-1/2 bottom-2 translate-middle">Minutes</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <div class="mt-4 d-xl-none d-lg-none">&nbsp;</div>
            <div class="calendar-component-container w-full  rounded-6 p-6 d-flex flex-column">
                <div>
                    <div class="d-flex justify-content-between align-items-end border-bottom-2 pb-2">
                        <img src="/assets/icons/streak-bars.svg" alt="bars">
                        <div class="calendar-stats text-center text-white">
                            <p class="font-bold">Streak</p>
                            <h1 class="display-4 text-white">{{streak ? streak : 0}}</h1>
                        </div>
                        <div class="calendar-stats text-center text-white">
                            <p class="font-bold">Level</p>
                            <h1 class="display-4 text-white">{{level ? level : 0}}</h1>
                        </div>
                        <img src="/assets/icons/streak-bars.svg" alt="bars" style="transform: scale(-1,1)">
                    </div>
                    <div class="pt-2">
                        <h1 class="text-white display-6 text-center">Monthly Calendar</h1>
                        <div class="py-3 d-flex justify-content-between align-items-center">
                            <div class="legend-container d-flex align-items-center">
                                <div class="active-color round"></div>
                                <p class="ps-2 font-bolder text-white">Active Day</p>
                            </div>
                            <div class="legend-container d-flex align-items-center">
                                <div class="inactive-color round"></div>
                                <p class="ps-2 font-bolder text-white">Inactive Day</p>
                            </div>
                            <div class="legend-container d-flex align-items-center">
                                <div class="current-color round"></div>
                                <p class="ps-2 font-bolder text-white">Current Day</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex-fill d-flex">
                    <div class="m-auto flex-fill bg-white w-full rounded-5">
                        <mat-calendar [(selected)]="selectedDate" (selectedChange)="selectDate()" class="stats-calendar px-5 py-2" [headerComponent]="exampleHeader"></mat-calendar>
                    </div>
                </div>

            </div>
            <!-- <div class="row mt-6 px-6 d-lg-none">
                <button (click)="toggleShareModal()" class="btn col-12 btn-primary py-2 px-1 font-bold rounded-2 mb-3 border-none">Share&nbsp;<img src="/assets/icons/share.svg" alt="share"></button>
            </div> -->
        </div>

    </div>
</div>

<!-- Share Modal -->
<div class="share-modal modal" [ngClass]="{'active': shareModal }" id="modal_example" tabindex="-1" aria-labelledby="modal_example" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-3 p-7 px-10 rounded-5">
            <div class="modal-header p-0 pb-3">
                <h5 class="h1 font-bolder">Share your progress</h5>
            </div>
            <div class="modal-body px-0 pb-0">
                <!-- Social Medias -->
                <div class="social-container mb-5">
                    <img class="me-10 cursor-pointer" src="/assets/icons/social/facebook.jpg" alt="facebook">
                    <img class="me-10 cursor-pointer" src="/assets/icons/social/messenger.jpg" alt="messenger">
                    <img class="me-10 cursor-pointer" src="/assets/icons/social/gmail.jpg" alt="gmail">
                    <img class="me-10 cursor-pointer" src="/assets/icons/social/outlook.jpg" alt="outlook">
                    <img class="me-10 cursor-pointer" src="/assets/icons/social/imessage.jpg" alt="imessage">
                </div>
                <span class="mt-2 valid-feedback">Copied!</span>
            </div>
        </div>
    </div>
</div>