<div class="fab-container" [ngClass]="{'active': fab}" (click)="toggleFab()">
  <div class="fab shadow">
    <div class="fab-content">
      <i class="bi icon" [ngClass]="{'bi-chevron-down': fab, 'bi-headset': !fab}"></i>
    </div>
  </div>
  <a href="https://help.pointmotion.us/create-issue-form/new" target="_blank" class="sub-button shadow fab-opt">
    <div [ngClass]="{'d-none': !fab}" class="btn-text">Contact Support</div>
    <div>
      <i class="bi bi-ticket icon position-absolute top-50 start-50 translate-middle"></i>
    </div>
  </a>
  <a href="https://help.pointmotion.us/feedback/new" target="_blank" class="sub-button shadow  fab-opt">
    <div [ngClass]="{'d-none': !fab}" class="btn-text">Send Feedback</div>
    <div>
      <i class="bi bi-hand-thumbs-up icon position-absolute top-50 start-50 translate-middle"></i>
    </div>
  </a>
  <a href="https://cal.com/imenmaar" target="_blank" class="sub-button shadow fab-opt">
    <div [ngClass]="{'d-none': !fab}" class="btn-text">Schedule Call</div>
    <div>
      <i class="bi bi-telephone icon position-absolute top-50 start-50 translate-middle"></i>
    </div>
  </a>
  <a href="https://www.pointmotion.us/index.php/docs/" target="_blank" class="sub-button shadow fab-opt">
    <div [ngClass]="{'d-none': !fab}" class="btn-text">Read FAQ</div>
    <div>
      <i class="bi bi-question-square icon position-absolute top-50 start-50 translate-middle"></i>
    </div>
  </a>
</div>

<div class="overlay" [ngClass]="{'active': fab}"></div>
