@import '../../../variables';
.help-container {
    height: calc(100vh - 3.6875rem);
}
.help.card {
    min-height: 300px;
    position: relative;
    img {
        min-width: 50%;
        margin-left: auto;
        margin-right: auto;
        max-height: 75px;
    }
    a, button {
        position: absolute;
        bottom: 30px;
        width: 80%;
        left: 10%;
    }
}

.help-header {
    position: relative;
    &::before {
        content: "";
        opacity: 1;
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: calc( 100% + 30px );
        background: url(/assets/images/backgrounds/reward-page-waves.png);
        background-size: cover;
        transform: rotate(-1deg);
    }
}
