$active_day: #93D48D;
$current_day: #F8D280;
$inactive_day: #A0AEC0;
$upcoming_day: #E2E8F0;
.mat-calendar.stats-calendar {
    .mat-calendar-body-label {
        visibility: hidden;
    }
    .mat-calendar-controls {
        margin: 3% calc(4.7142857143% - 16px);
    }
    .mat-calendar-table-header {
        display: none;
    }
    .mat-calendar-body-cell-content {
        border-radius: 50%;
        font-weight: 600;
        font-size: 1.2rem;
        background-color: $upcoming_day;
    }
    .mat-calendar-body-cell.active-day .mat-calendar-body-cell-content {
        background-color: $active_day;
    }
    .mat-calendar-body-cell.inactive-day .mat-calendar-body-cell-content {
        background-color: $inactive_day;
    }
    .mat-calendar-body-cell.today .mat-calendar-body-cell-content {
        background-color: $current_day;
    }
    .mat-calendar-body-today {
        border: none;
    }
}