@import '../../variables';
nav {
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
}
.nav-left {
    a, a.active {
        color: $primary_color;
        font-weight: 600;
    }
    a:focus, a:hover {
        span {
            color: #FFFFFF;
            filter: brightness(0.7);
        }
    }
    & > div.active {
        border-bottom: 3px solid #FFFFFF;
    }
}
.navbar-light .navbar-nav .nav-link {
    &:hover, &:focus {
        color: $primary_color;
    }
}
.nav-right {
    p {
        color: $primary_color;
    }
}
