<div class="overflow-x-hidden overflow-y-auto" style="height: calc(100vh - 56px)">
  <header class="pt-5">
    <div class="d-flex justify-content-between align-items-center px-5">
      <h2>Account Details</h2>
      <button [class.d-none]="editBtnState() !== 'edit'" routerLink="./" [queryParams]="{ edit: true }" class="btn btn-outline-primary px-14">
        <i class="bi bi-pencil-square"></i>&nbsp;Edit
      </button>
      <button (click)="save()" [class.d-none]="editBtnState() !== 'save'" routerLink="./" [queryParams]="{ edit: true }" class="btn btn-primary px-5" [disabled]="disableSaveBtn">
        Save Changes
      </button>
    </div>
    <ul class="nav nav-tabs px-5">
      <li *ngFor="let tab of tabs" class="nav-item">
        <a class="nav-link" [routerLink]="tab" [routerLinkActive]="['active']">{{tab | titlecase}}</a>
      </li>
    </ul>
  </header>
  
  <main>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </main>
</div>
