<div style="background-color: #FAFAFA;" class="h-screen">
    <div class="row">&nbsp;</div>
    <div class="row gy-5 w-full">
        <div class="col-6 offset-3">
            <div class="card bg-white p-8 shadow-3">
                <h5 class="text-dark">Plan Details</h5>
                <p class="mt-5 font-bold">Active Sound Health Membership for ${{30}}/month</p>
                <p class="mt-5">Next Billing Date: <span class="font-bold">{{'24th Dec. 2022'}}</span></p>
            </div>
        </div>
        <div class="col-6 offset-3">
            <div class="card bg-white p-8 shadow-3">
                <h5 class="text-dark">Account Details</h5>
                <div class="ms-5">
                    <p class="mt-5">Name: <span class="font-bold">{{'Test User'}}</span></p>
                    <p class="mt-5">E-mail: <span class="font-bold">{{'Test@gmail.com'}}</span></p>
                    <p class="mt-5">Phone Number: <span class="font-bold">{{'(555) 555-1234'}}</span></p>
                </div>
                <div class="mt-5 d-flex justify-content-between">
                    <p class="text-black"><i class="bi bi-credit-card me-5"></i>**** **** ****</p>
                    <div class="d-flex flex-column align-items-end">
                        <a class="text-sm" style="color: #2F51AE;" routerLink="/app/add-payment-method">Change Payment Method</a>
                        <a class="text-sm mt-2" style="color: #2F51AE;" routerLink="/app/billing-history">Billing History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>