<!-- Part 1 -->
<div class="reward-stats">
  <div class="waves-bg">
    <img src="assets/images/backgrounds/Asset 30@3x 1.png">
    <h1 class="reward-text-title display-4 fw-bold">Rewards</h1>
    <h1 class="reward-text-description display-5 text-center">Total rewards unlocked</h1>
    <h1 class="reward-text-score display-5">{{rewardsUnlocked}}</h1>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <!-- Part 2 -->
    <div class="col">
      <div class="row">

        <div *ngFor="let reward of rewards" class="col-lg-4 col-md-12 pt-12 text-center">
          <i [ngClass]="reward.isUnlocked ? 'fa-solid fa-lock-open pb-4' : 'fa-solid fa-lock pb-4'"></i>
          <div
            [ngClass]="reward.isUnlocked ? 'card reward-card reward-card pt-4' : 'card reward-card locked-reward-card pt-4'">
            <img *ngIf="reward.rewardTier === 'bronze'" class="reward-card-img" src="assets/images/rewards/bronze-tier.png"
              alt="Bronze Reward">
            <img *ngIf="reward.rewardTier === 'silver'" class="reward-card-img" src="assets/images/rewards/silver-tier.png"
              alt="Silver Reward">
            <img *ngIf="reward.rewardTier === 'gold'" class="reward-card-img" src="assets/images/rewards/gold-tier.png"
              alt="Gold Reward">
            <div class="card-body">
              <h3 class="card-title reward-card-text">{{reward.title}}</h3>
              <div class="d-grid gap-2">
                <button *ngIf="reward.isUnlocked" class="btn btn-primary rounded-2 font-bold" type="button">
                  Access Now
                </button>
                <button *ngIf="!reward.isUnlocked" class="btn btn-primary rounded-2 font-bold" type="button">
                  Finish Monthly Goal to Access
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>