// needs to be refactored - use globally defined variables for Pointmotion colors.
.reward-stats {
  position: relative;
  background-color: #000066;
  height: 35vh;

  .waves-bg img {
    object-fit: cover;
    height: 35vh;
    width: 100%;
  }
}

// needs to be refactored - avoid duplicating code
.reward-text-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.reward-text-description {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.reward-text-score {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.reward-card {
  border-radius: 16px;
  box-shadow: 0px 1px 2px #000066, 0px 0px 1px #000066;
}

.reward-card-text {
  color: #000066;
}

.reward-card-img {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.locked-reward-card {
  background: #E2E8F0;

  button {
    border: none;
    background: #718096;
  }
}

.fa-lock-open {
  font-size: 3em;
  color: #00BD3E;
}

.fa-lock {
  font-size: 3em;
  color: #718096;
}