<div class="pt-10 pb-10 bg-primary reward-header">
  <div class="container max-w-screen-xl">
    <div class="row row-grid align-items-center">
      <div class="col text-center">
        <div class="display-1 text-white">
          Rewards
        </div>
        <h1 class="pt-2 ls-tight font-bolder display-6 text-white mb-5">
          Total Rewards Unlocked
        </h1>
        <h1 class="ls-tight font-bolder display-6 text-white mb-5">
          {{rewardsUnlocked}}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div *ngFor="let reward of rewards" class="col-lg-4 col-md-12 pt-12 text-center">
          <i [ngClass]="reward.isUnlocked ? 'fa-solid fa-lock-open pb-4' : 'fa-solid fa-lock pb-4'"></i>
          <div
            [ngClass]="reward.isUnlocked ? 'card reward-card pt-4' : 'card reward-card locked-reward-card pt-4'">
            <img *ngIf="reward.rewardTier === 'bronze'" class="reward-card-img" src="assets/images/rewards/bronze-tier.png"
              alt="Bronze Reward">
            <img *ngIf="reward.rewardTier === 'silver'" class="reward-card-img" src="assets/images/rewards/silver-tier.png"
              alt="Silver Reward">
            <img *ngIf="reward.rewardTier === 'gold'" class="reward-card-img" src="assets/images/rewards/gold-tier.png"
              alt="Gold Reward">
            <div class="card-body">
              <h3 class="card-title reward-card-text">{{reward.title}}</h3>
                <button *ngIf="reward.isUnlocked" class="btn btn-primary rounded-2 font-bold" type="button">
                  Access Now
                </button>
                <button *ngIf="!reward.isUnlocked" class="btn btn-primary rounded-2 font-bold" type="button">
                  Finish Monthly Goal to Access
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>