<nav class="navbar navbar-expand-lg navbar-dark px-0 py-3 position-absolute top-0 start-0 w-full bg-lg-transparent">
  <div class="container-xl max-w-screen-xl">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" class="h-10" alt="...">
  </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Nav -->
          <ul class="navbar-nav mx-lg-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Product</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li> -->
          </ul>
          <!-- Right navigation -->
          <!-- <div class="navbar-nav ms-lg-4">
              <a class="nav-item nav-link" href="#">Sign in</a>
          </div> -->
          <!-- Action -->
          <!-- <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
              <a href="#" class="btn btn-sm btn-neutral w-full w-lg-auto">
                  Register
              </a>
          </div> -->
      </div>
  </div>
</nav>
<section class="position-relative home-page-header align-items-end" style="background-image:url(/assets/images/header-image-1.png)">
  <!-- Overlay -->
  <span class="position-absolute top-0 start-0 w-full h-full opacity-80"></span>
  <!-- Content -->
  <div class="gradient-container">
  <div class="container-lg max-w-screen-xl position-relative overlap-10 text-center text-lg-start pt-5 pb-5 pt-lg-6">
      <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center text-lg-start">
              <!-- Title -->
              <p class="lead session-text">
                Session of the day
              </p>
              <h1 class="ls-tight font-bolder display-5 mb-5 session-heading">
                Mind Body Connection
              </h1>
              <!-- Text -->
                  <!-- Buttons -->
              <div class="mt-10 mx-n2 text-center align-items-center align-header-buttons">
                <div class="left-of-button">
                  <mat-icon>add</mat-icon><p>My list</p>
                </div>
                  <a href="#" class="btn start-session-btn">
                    <mat-icon>play_arrow</mat-icon>Start Session
                  </a>
                  <div class="right-of-button">
                    <mat-icon>info</mat-icon><p>Info</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<main class="pb-20">
<div class="container fixed-container">
  <div class="row pt-3 pb-3">
    <div class="col footer-nav-items justify-content-center align-items-center">
      <img src="/assets/images/house.svg"><p>Home</p>
    </div>
    <div class="col footer-nav-items justify-content-center align-items-center">
      <img src="/assets/images/trophy.svg"><p>Stats</p>
    </div>
    <div class="col footer-nav-items justify-content-center align-items-center">
      <img src="/assets/images/start-session.svg"><p>Start Session</p>
    </div>
    <div class="col footer-nav-items justify-content-center align-items-center">
      <img src="/assets/images/question-circle.svg"><p>Home</p>
    </div>
    <div class="col footer-nav-items justify-content-center align-items-center">
      <img src="/assets/images/user.svg"><p>Home</p>
    </div>
  </div>
</div>
<div class="container mt-10">
  <div class="row">
      <h2 class="new-uploads-title">New uploads</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/alide-img1.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Physical Fitness</h3>
              <p class="">
                Dr. J. Peter ,Parkinsons
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/slide-img2.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Walk,Run,Stride</h3>
              <p class="">
                Dr. R. Jane ,Parkinsons
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/slide-img3.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Mindful Sitting</h3>
              <p class="">
                Dr. T. Thomas ,All Conditions
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/slide-img4.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Balance Improvement</h3>
              <p class="">
                Dr. R. Jane ,Parkinsons
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/slide-img5.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Dance for Health</h3>
              <p class="">
                Dr. R. Jane ,Parkinsons
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    </owl-carousel-o>
  </div>
</div>
<div class="container mt-10">
  <div class="row">
      <h2 class="new-uploads-title">Popular Sessions</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/session-slide-img1.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Mind-Body Connection</h3>
              <p class="">
                Dr. S. Tiffany ,All Conditions
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/session-slide-img2.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Music and Movement</h3>
              <p class="">
                Dr. P. Fleur ,Parkinsons
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/session-slide-img3.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Remembering through Art</h3>
              <p class="">
                Dr. M. Veronica , Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/session-slide-img4.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Memory II</h3>
              <p class="">
                Dr. I. Louis ,Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/session-slide-img5.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Clock Test</h3>
              <p class="">
                Dr. M. Howard ,Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/session-slide-img6.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">For the love of music</h3>
              <p class="">
                Dr. T. Youri ,All Conditions
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    </owl-carousel-o>
  </div>
</div>
<div class="container mt-10">
  <div class="row">
      <h2 class="new-uploads-title">My List</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/list-slide1.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Problem Solving Games</h3>
              <p class="">
                Dr. D.Kevin ,Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/list-slide2.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Memory I</h3>
              <p class="">
                Dr. F. Perry ,Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/list-slide3.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Cognitive Skills I</h3>
              <p class="">
                Dr. C. Lucas ,Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="col new-uploads-alignment" style="background-image:url('/assets/images/list-slide4.png')">
        <div class="card">
          <!-- Card Body -->
          <div class="card-body">
              <!-- Title -->
              <h3 class="h4">Cognitive Skills II</h3>
              <p class="">
                Dr. T. Frank ,Dementia
              </p>
          </div>
      </div>
      </div>
    </ng-template>
    </owl-carousel-o>
  </div>
</div>
</main>
