<div class="mood-container position-fixed bg-white w-screen h-screen top-0 start-0">
    <div class="w-1/2 h-screen position-absolute top-0 end-0">
        <ng-lottie [options]="options">
        </ng-lottie>
    </div>
    <div 
    [@slideInOut]="{value:slideOut ? 'slideOut' : '', params:{duration : 500}}" 
    class="cards-container text-center position-fixed top-1/2 start-1/2 bg-white p-16 rounded-6">
        <h1 class="display-6 text-primary">How are you feeling today?</h1>
        <div class="mood-cards d-flex justify-content-between mt-10 position-relative h-24">
            <div 
            (click)="selectMood(mood.title)" 
            *ngFor="let mood of moodList" 
            class="mood-card top-1/2 start-1/2 bg-white cursor-pointer h-24 w-24 p-3 border rounded-2" 
            [class.active]="mood.title === selectedMood"
            [class.stack]="selectedMood !== undefined"
            [style.border-color]="mood.color">
                <img class="w-10 mb-2" [src]="mood.img" [alt]="mood.title">
                <p class="h6 text-primary">{{mood.title}}</p>
            </div>
        </div>
    </div>
</div>